<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Spacex API Suite">

    <test name="Get Spacex Latest Test">

        <classes>

            <class name="com.spacex.tests.TestLatest"/>
            <class name="com.spacex.tests.TestLaunchPads"/>


        </classes>

    </test>

</suite>
